<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limpoxe.fairy">

    <application>

        <meta-data android:name="fairy_compatibleWithHostVersion" android:value="fairy_compatibleWithHostVersion_NOT_SET"/>

        <provider
            android:name=".manager.PluginManagerProvider"
            android:authorities="${applicationId}.manager"
            android:exported="false"
            android:process=":plugin" />

        <!--
            对Receiver的类全名没有要求，可随意指定，框架中是通过action来查询。
            stub并不需要真实存在，只是占个位置，注册1个即可
        -->
        <receiver
            android:name="${applicationId}.stub.PluginzbwStubReceiver0"
            android:exported="true"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!--
            对service的类全名没有要求，可随意指定，框架中是通过action来查询。
            需要注册的stub数量只需 >= 可能 同时 处于运行状态的service数量
            最糟糕的情况是所有的service都 同时 处于运行状态，那么这种情况下 需要注册的stub数量即为所有插件所有service的总和
            stub并不需要真实存在，只是占个位置，预注册10来个应该绰绰有余了
        -->
        <service
            android:name="${applicationId}.stub.PluginzbwStubService0"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="${applicationId}.stub.PluginzbwStubService1"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="${applicationId}.stub.PluginzbwStubService2"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="${applicationId}.stub.PluginzbwStubService3"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="${applicationId}.stub.PluginzbwStubService4"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="${applicationId}.stub.PluginzbwStubService5"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="${applicationId}.stub.PluginzbwStubService6"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="${applicationId}.stub.PluginzbwStubService7"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="${applicationId}.stub.PluginzbwStubService8"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="${applicationId}.stub.PluginzbwStubService9"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


        <!--
            对Activity的类全名没有要求，可随意指定，框架中是通过action来查询。
            stub并不需要真实存在，只是占个位置，
            standard 的 launchmode只需全透明和非全透明各注册1个stub即可
        -->
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST0"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST1"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST2"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST3"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST4"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST5"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST6"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST7"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST8"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST9"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST10"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST11"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST12"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST13"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityST14"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 不透 -->
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS0"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS1"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS2"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS3"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS4"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS5"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS6"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS7"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS8"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS9"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS10"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS11"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS12"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS13"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityS14"
            android:exported="true"
            android:process=":plugin"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 不透、横屏 -->
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivityStandard2"
            android:exported="true"
            android:process=":plugin"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
            singleTask 的 launchmode
            需要注册的stub数量只需 >= 可能 同时 处于运行状态的singleTask模式的Activity的数量
            最糟糕的情况是所有的singleTask模式的Activity都 同时 处于运行状态，那么这种情况下 需要注册的stub数量即为所有插件所有singleTask模式的Activity的总和
            预注册10个应该绰绰有余了
        -->
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTask0"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTask1"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTask2"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTask3"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTask4"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTask5"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTask6"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTask7"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTask8"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTask9"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--
            singleTop 的 launchmode
            需要注册的stub数量只需 >= 可能 同时 处于运行状态的 singleTop 模式的Activity的数量
            最糟糕的情况是所有的 singleTop 模式的Activity都 同时 处于运行状态，那么这种情况下 需要注册的stub数量即为所有插件所有 singleTop 模式的Activity的总和
            预注册5个应该绰绰有余了
            -->
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTop0"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTop1"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTop2"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTop3"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTop4"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTop5"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTop6"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTop7"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTop8"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleTop9"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--
            singleInstance 的 launchmode
            需要注册的stub数量只需 >= 可能 同时 处于运行状态的 singleInstance 模式的Activity的数量
            最糟糕的情况是所有的 singleInstance 模式的Activity都 同时 处于运行状态，那么这种情况下 需要注册的stub数量即为所有插件所有 singleInstance 模式的Activity的总和
            预注册5个应该绰绰有余了
            -->
        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleInstance0"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleInstance1"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleInstance2"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleInstance3"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleInstance4"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleInstance5"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleInstance6"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleInstance7"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleInstance8"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${applicationId}.stub.PluginzbwStubActivitySingleInstance9"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":plugin">
            <intent-filter>
                <action android:name="${applicationId}.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
